/* Redefinição básica para garantir que ocupe a tela toda */
:root {
    --cor-header: #191A4F;
    --font-text: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8dfefe;
}


#container-header {    
    background-color: var(--cor-header);
    margin-bottom: 0;
    display: grid;
    padding-right: 20px;
    grid-template-areas: 
        "container-header"
        "nav-header"
    ;
}

#logo-header {
    grid-area: container-header;
}

#nav-header {
    grid-area: nav-header;
    justify-self: center;
    align-content: end;
    padding: 20px 50px;
    font-size: 25px;
    font-family: var(--font-text);
}

#nav-header ul {
    list-style: none;
    display: flex;
}

#nav-header li {
    display: flex;   /* Garante que o item alinhe bem o conteúdo */
}

#nav-header a {
    text-decoration: none;
    color: black;
    display: block;        /* Faz o link ocupar a largura do LI */
    padding: 10px 20px;    /* O espaço do menu agora fica DENTRO do link */
    transition: 0.3s;      /* Opcional: deixa a transição de cor suave */
}
#nav-header a:hover {
    text-decoration: underline;
    background-color: var(--cor-header);
    color: #1adafe;
    /* Agora o fundo vai ocupar todo o padding definido acima */
}

#logo-header {
    padding-top: 10px;
    width: 500px;
    justify-self: center;
    align-content: end;
    margin: 20px 50px;
}

main {
    justify-items: center;
    align-items: center;
}

main article {
    display: block;
    width: 100%;
    max-width: 100ch; /* Largura ideal para leitura (entre 45 e 75 caracteres) */
}

main article h1 {
    text-align: center;
    font-size: 30px;
    font-family: var(--font-text);
    line-height: 1.6;
    letter-spacing: 1px;
}

main article p {
    font-size: 20px;
    font-family: var(--font-text);
    line-height: 1.2; 
    letter-spacing: 1px;
    padding-bottom: 10px;
}

main article p::first-letter {
    font-size: 30px;
    font-family: "MonteCarlo", cursive;
    line-height: 1;
    letter-spacing: 2px;
    padding-left: 10px;
    font-weight: bold;
    
}

#me {
    display: block;
    float: right;
    width: 300px;
    align-items: right;
}

footer {
    background-color: #191A4F;
    height: 50px;
}